

head{

}

h1 {
  color: ;
	background: ;
	font-family: ;
	font-size: ;
}

h2 {
  color: ;
	background: ;
	font-family: ;
	font-size: ;
}

h3 {
  color: ;
	background: ;
	font-family: ;
	font-size: ;
}

p {
  color: ;
	background: ;
	font-family: ;
	font-size: ;
}

a {
  color: ;
	background: ;
	font-family: ;
	font-size: ;
}

