

head{

}

h1 {
  	color: ;
	background: #ff6666;
	font-family: ;
	font-size: 18;
}

h2 {
	color: ;
	background: #ff6666;
	font-family: arial-black;
	font-size: 16;
}

h3 {
  	color: ;
	background: #ff6666;
	font-family: ;
	font-size: 14;
}

p {
  	color: ;
	background: #e5e5e5;
	font-family: ;
	font-size: 12;
}

a {
  	color: ;
	background: #e5e5e5;
	font-family: ;
	font-size: 12;
}

